* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

ul, li {
  list-style-type: none;
}

.card {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 9px rgb(160, 160, 160);
}

.project-card {
  height: 200px;
  text-align: center;
}

.announcements-card {
  text-align: start;
  padding: 10px;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 3fr 6fr;
  background-color: yellow;
  padding: 25px;
}

.logo-title, .logo-title .title {
  display: inline-block;
}

.sidebar > ul {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  row-gap: 25px;
}

.account-nav {
  padding-bottom: 50px;
}

.site-info {
  align-self: start;
}

.header {
  display: grid;
  grid-area: header;
  align-items: center;
  background-color: aqua;
}

.main-content {
  display: grid;
  grid-area: main;
  background-color: pink;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

.projects {
  display: grid;
  grid-row: 1 / 3;
  gap: 5px;
}

.project-cards-display {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
}

.announcements {
  display: grid;
  gap: 5px;
}

.trending {
  grid-column: 2 / 3;
}